@import '../media-queries.scss';
@import '../../a-body/resume-body/resume-body.scss';

footer[class='resume-footer'] {
  display: none;
  grid-row-end: 4;
  grid-row-start: 3;
  grid-column-end: 4;
  grid-column-start: 1;

  background: $orange-dark;
}
